* {box-sizing: border-box;}
body {
	margin:0;
	padding:0;
	font-family: monospace;
}

/*------SPLASH SCREEN ------*/
	.preload {
	width: 100%;
	height: 100%;
	background: #333;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	}

	.logo{
		width: 300px;
		height: 70px;
		margin:150px auto 50px auto;
		font-size: 50px;
		text-shadow: -1px 2px 2px #000;
		text-align: center;
		color: azure;
	}
	.loader-frame{
		width: 70px;
		height: 70px;
		margin: auto;
		position: relative;
	}

	.loader1, .loader2{
		position: absolute;
		border: 5px solid transparent;
		border-radius: 50%;
	}
	.loader1{
		width: 70px;
		height: 70px;
		border-top: 5px solid azure;
		border-bottom: 5px solid azure;
		animation: clockwisepin 2s linear 3; 
	}
	.loader2{
		width: 60px;
		height: 60px;
		border-left: 5px solid darkturquoise;
		border-right: 5px solid darkturquoise; 
		top: 5px; left: 5px;
		animation: anticlockwisepin 2s linear 3;
	}

	@keyframes clockwisepin {
		from {transform: rotate(0deg);}
		to {transform: rotate(360deg);}
	}
	@keyframes anticlockwisepin {
		from {transform: rotate(0deg);}
		to {transform: rotate(-360deg);}
	}
	@keyframes fadeout {
		from {opacity: 1;}
		to {opacity: 0;}
	}


 /*------HAMBURGER STYLE CSS ------*//


#sidebar> ul> li{
	 height: 100%;
	 font-size: 14px;
	 display: inline-block;
	 margin-top: 5px;
  	 border-radius: 5px;
  	 width: 100%;
}

#sidebar > ul >li >a:link, a:visited {
    background-color: #B2094E;
    -moz-border-radius:6px;
	-webkit-border-radius:6px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    overflow: visible;
    text-decoration: none;
    display: inline-block;
    width: 100%;
	line-height:1;
}

/*---------HAMBURGER-----------*/
.toggle{
	position: fixed;
	left: 10px; 
	top: 5px; 
	width:30px; 
	height:30px;
}

#sidebar{
	position: fixed; 
	top: 38px; 
	height: 100%; 
	width: 200px; 
	left: -200px; 
	background-color: black; 
	transition: all 0.5s ease-in-out;
}

/*---------SOURCE MAGAZINES--------*/

.source_element{ /* odwołuje sie do całego boxa w source z każdym elementem w nim zawartym*/)
	text-decoration: underline;
	float: left;
	display: block;
	width: 100%;

	border-radius:7px;
	border:1px solid #83c41a;
	display:block;
	cursor:pointer;
	overflow: hidden;


}

.source_name{
	 letter-spacing: 1px;
	 text-align: center;
	 font-family: "Times New Roman", Times, serif;
	 text-decoration: underline;
}
.source_category{
	 float: left;
	 letter-spacing: 1px;
	 font-family: "Times New Roman", Times, serif;
	 font-size: x-large;
}

.source_description, .source_locale{
	 padding: 5px;
	 float: left;
	 text-align: justify;
	 letter-spacing: 1px;
	 word-wrap:break-word;
	 max-width:100%;
}
.source_country, .source_language{
	 padding: 5px;
	 margin: 5px;
	 float: left;
	 text-align: justify;
	 letter-spacing: 1px;

}
/*-----FOOTER -----*/
#footerwrap {
	position: relative;
	bottom:0;
	clear: both;
	background: #B2094E;
	margin-top: 5px;

	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
}
#footerwrap2{
	position: absolute;
	bottom: 0;
	clear: both;
	background: #B2094E;
	margin-top: 5px;

	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
}
#footerwrap, #footerwrap2 h4 {
	font-weight:normal;
	font-style:italic;
	font-variant:small-caps;
	color:white;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:12px;
	text-align:center;
	font-family:arial, helvetica, sans-serif;
	line-height:1;
	overflow: visible;
}

/*---------MENU GÓRNE --------*/
#navmenu, #listnav, #sourcenav, #articlenav, #settingnav{
	background: #B2094E;
	text-align: center;
	height: 40px;

}

/*#navmenu h1{
	color: white;
	letter-spacing: 3px;
} */
#navmenu, #listnav, #sourcenav, #articlenav, #settingnav h1{
	font-weight:normal;
	font-style:italic;
	font-variant:small-caps;
	color:white;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:12px;
	text-align:center;
	font-family:arial, helvetica, sans-serif;
	line-height:1;
}


/*-----------BUTTONS MAIN PAGES -----------*/

.ui-block-e{
	padding: 2px;
}

.button
  {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #83c41a;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:15px 120px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
	overflow: visible;
}
/*.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
.button:active {
	position:relative;
	top:1px;
}*/

.ui-btn-right {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-boxui-btn-rightshadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	font-family:arial, helvetica, sans-serif;
	font-size:19px;
	padding:8px 16px;
	
}
.ui-btn-right:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
.ui-btn-right:active{
	position:absolute;
	top:1px;
}

/*SOURCE ELEMENTS CSS*/
.ui-corner-all{
	background-color:#378de5;
}
