* {box-sizing: border-box;}
body {
	margin:0;
	padding:0;
	font-family: monospace;
}

/*------SPLASH SCREEN ------*/
	.preload {
	width: 100%;
	height: 100%;
	background: #333;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	}

	.logo{
		width: 300px;
		height: 70px;
		margin:150px auto 50px auto;
		font-size: 50px;
		text-shadow: -1px 2px 2px #000;
		text-align: center;
		color: azure;
	}
	.loader-frame{
		width: 70px;
		height: 70px;
		margin: auto;
		position: relative;
	}

	.loader1, .loader2{
		position: absolute;
		border: 5px solid transparent;
		border-radius: 50%;
	}
	.loader1{
		width: 70px;
		height: 70px;
		border-top: 5px solid azure;
		border-bottom: 5px solid azure;
		animation: clockwisepin 2s linear 3; 
	}
	.loader2{
		width: 60px;
		height: 60px;
		border-left: 5px solid darkturquoise;
		border-right: 5px solid darkturquoise; 
		top: 5px; left: 5px;
		animation: anticlockwisepin 2s linear 3;
	}

	@keyframes clockwisepin {
		from {transform: rotate(0deg);}
		to {transform: rotate(360deg);}
	}
	@keyframes anticlockwisepin {
		from {transform: rotate(0deg);}
		to {transform: rotate(-360deg);}
	}
	@keyframes fadeout {
		from {opacity: 1;}
		to {opacity: 0;}
	}

/*Nie wiem do czego to juz jest na razie wykomentuje, chyba zapomnialem wykasowac wczesniej
.buttonlist{
	background: #0087ff;
	height: 100px;
    width: 100px;
	border: 2px solid rgba(33, 68, 72, 0.59);
	color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 0.9em/100px "Helvetica Neue", Helvetica, Arial, sans-serif;

	
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 66.4px;

    background: -webkit-linear-gradient(top, #0087ff, #01396b);
    background: -moz-linear-gradient(top, #0087ff, #01396b);
    background: -o-linear-gradient(top, #0087ff, #01396b);
    background: -ms-linear-gradient(top, #0087ff, #01396b);
    background: linear-gradient(top, #0087ff, #01396b);
 
    -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
 
    -webkit-box-shadow: 0 8px 0 #01396b;
    -moz-box-shadow: 0 8px 0 #01396b;
    box-shadow: 0 8px 0 #01396b;
}

*/

/*HAMBURGER STYLE CSS


#sidebar ul {
  position: absolute;
  display: flex;
  height: calc(100% - 20px);
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 0;
  list-style-type: none;
  align-content: flex-start
}

.sidebar ul li {
  display: flex;
  height: 30px;
  background: #ffffff;
  flex-basis: 100%;
  margin-top: 20px;
  color: #696e9e;
  border-radius: 5px;
  overflow: hidden;
  
}

.sidebar ul li a {
  display: flex;
  padding: 10px;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
}
 */
 /*------HAMBURGER STYLE CSS ------*//
#sidebar> ul {
	margin: 10px;
	padding: 10px;
	text-align: justify;
}

#sidebar> ul> li{
	 /*align-items: center; */
	 height: 30px;
	 letter-spacing: 2px;
	 text-align: center;
	 display: block;
	 background: #ffffff;
	 margin-top: 20px;
  	 border-radius: 5px;
  	 overflow: hidden;
}

#sidebar > ul >li >a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}


a:hover, a:active {
    background-color: red;
}
/*---------HAMBURGER-----------*/
.toggle{
	position: fixed;
	left: 10px; 
	top: 5px; 
	width:30px; 
	height:30px;
}

#sidebar{
	position: fixed; 
	display: inline-block; 
	top: 35px; 
	height: 100%; 
	width: 200px; 
	left: -200px; 
	background-color: black; 
	transition: all 0.5s ease-in-out;
}

/*---------SOURCE MAGAZINES--------*/

.source_element{ /* odwołuje sie do całego boxa w source z każdym elementem w nim zawartym*/)
	text-decoration: underline;
	float: left;
	display: block;
	width: 50%;
}

.source_name{
	 letter-spacing: 1px;
	 text-align: center;
	 font-family: "Times New Roman", Times, serif;
	 text-decoration: underline;
}
.source_category{
	 float: left;
	 letter-spacing: 1px;
	 font-family: "Times New Roman", Times, serif;
	 font-size: x-large;
}

.source_description, .source_locale{
	 padding: 5px;
	 float: left;
	 text-align: justify;
	 letter-spacing: 1px;
	 word-wrap:break-word;
	 max-width:100%;
}
.source_country, .source_language{
	 padding: 5px;
	 margin: 5px;
	 float: left;
	 text-align: justify;
	 letter-spacing: 1px;

}
/*-----FOOTER -----*/
.footersy{
	position: fixed;
	text-align: center;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: small;
	bottom:0;
	width:100%;
	height:30px;		/* Wysokość stopki */
	background:#b5fbbd;
}

#footerwrap {
	position: relative;
	bottom:0;
	background: #B2094E;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
#footerwrap h4 {
	font-weight:normal;
	font-style:italic;
	font-variant:small-caps;
	color:white;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:12px;
	text-align:center;
	font-family:arial, helvetica, sans-serif;
	line-height:1;
	overflow: visible;
}

/*---------MENU GÓRNE --------*/
#navmenu, #listnav, #sourcenav, #articlenav, #settingnav{
	background: #B2094E;
	text-align: center;
	height: 40px;

}

/*#navmenu h1{
	color: white;
	letter-spacing: 3px;
} */
#navmenu, #listnav, #sourcenav, #articlenav, #settingnav h1{
	font-weight:normal;
	font-style:italic;
	font-variant:small-caps;
	color:white;
	letter-spacing:1pt;
	word-spacing:2pt;
	font-size:12px;
	text-align:center;
	font-family:arial, helvetica, sans-serif;
	line-height:1;
}


/*-----------BUTTONS MAIN PAGES -----------*/

.ui-block-e{
	padding: 2px;
}

.button
  {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #83c41a;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:15px 120px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
	overflow: visible;
}
/*.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
.button:active {
	position:relative;
	top:1px;
}